<h1>Add Book To Catalog</h1>
  <form id="inputs" action='/books' method="post">
    Title:<input type='text' name='Title'><br>
    Author First:<input type='text' name='Fname'> Author Last:<input type='text' name='Lname'><br>
    Publisher:<input type='text' name='pub_name'><br>
    Genre:<input type='text' name='gen_name'><br>
    <input type='submit' value='Add'><br>
  </form>
