<nav class="nav-bar-fixed-top">
  <div class='nav-container'>
      <a href = '/addbook'>Add Book To Catalog</a>
      <a href = '/books'>Search Books</a>
      <a href = '/'>Home</a>
  </div>
</nav>

<div>
<h1>Add Book To Catalog</h1>

  <form id="inputs" action='/addbook' method="post">
    Title:<input type='text' name='Title'><br>
    Author First:<input type='text' name='Fname'> Author Last:<input type='text' name='Lname'><br>
    Publisher:<input type='text' name='pub_name'><br>
    Genre:<input type='text' name='gen_name'><br>
    <input type='submit' value='Add'><br>
  </form>

<p> {{message}} </p>
<p><a href='./abook/{{ID}}'>{{Title}}<a> </p>
</br>
</div>
