<div class = 'search-container'>
  <h1>Find Title To Update:</h1>
<!--
<form id="addbook" action="/books" method="post">
    Title: <input type="text" name="Title"><br>
    <input type="submit" value="Submit">
 </form>
-->
  <form id="inputs" action='/books' method="post">
    Title:<input type='text' name='Title'><br>
    Author First:<input type='text' name='Fname'> Author Last:<input type='text' name='Lname'><br>
    Publisher:<input type='text' name='pub_name'><br>
    Genre:<input type='text' name='gen_name'><br>
    <input type='submit' value='search'><br>
  </form>
  <br/>
</div>

<div class = 'table-container'>
  <table>
    <thead>
      <th>Resulting Titles</th>
    </thead>
    <tbody>
      {{#each Book}}
      <tr>
        <td><a href = /books/{{ID}}>{{Title}}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form id = "form-button" action='/books' method='get'>
  <input type = 'submit' value = 'Show All'><br>
</form>
<form id = "form-button" action='/' method='get'>
  <input type = 'submit' value = 'home'><br>
</form>
</br>
