
<h1>Search Titles:</h1>
<!--
<form id="addbook" action="/books" method="post">
    Title: <input type="text" name="Title"><br>
    <input type="submit" value="Submit">
 </form>
-->
<form id="search" action='/books' method="post">
  <input type='text' name='Title'><br>
  <input type='submit' value='search'><br>
</form>
<br/>
<table>
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    {{#each Book}}
    <tr>
      <td><a href = /books/{{ID}}>{{Title}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
